@import url("https://fonts.googleapis.com/css2?family=Domine&display=swap");
body {
  font-family: "Domine", serif;
}

/* navbar style start  */
.navbar-nav a {
  margin: 0 20px;
}
.contact-link {
  line-height: 24px;
  text-align: center;
  width: 145px;
  height: 40px;
  text-align: center;
  border: 1px solid red;
}
/* navbar style end  */
.covid-title{
    color: #035755;
}
.covid-paragraph{
    color: #4B4F51;
    font-size: 13px;
    line-height: 30px;
}
.btn-color{
    width: 160px;
    height: 50px;
    background: #FB4C47;
box-shadow: 0px 8px 87px rgba(0, 0, 0, 0.1);
border-radius: 65px;
border: 0;
}
/* 
---------------------
corona style start
--------------------
*/
.corona-heading{
    color:#035755;
}
.corona-paragraph{
    color: #4B4F51;
    font-size: 13px;
    line-height: 30px;
}
.learn-more{
    
background: rgba(250, 86, 82, 0.15);
border-radius: 65px;
width: 170px;
height: 50px;
color: red;
border: 0;
}
/* 
---------------------
corona style end
--------------------
*/