@import url("https://fonts.googleapis.com/css2?family=Domine&display=swap");
body {
  font-family: "Domine", serif;
}

/* navbar style start  */
.navbar-nav a {
  margin: 0 20px;
}
.contact-link {
  line-height: 24px;
  text-align: center;
  width: 145px;
  height: 40px;
  text-align: center;
  border: 1px solid red;
  background-image: linear-gradient(45deg,  0,0, 0);
  transition: all 1.2s linear;
}

.contact-link:hover{
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}
/* navbar style end  */

.covid-title {
  color: #035755;
}
.covid-paragraph {
  color: #4b4f51;
  font-size: 15px;
  line-height: 30px;
  text-align: justify;
}
.btn-color {
  width: 160px;
  height: 50px;
  background: #fb4c47;
  box-shadow: 0px 8px 87px rgba(0, 0, 0, 0.1);
  border-radius: 65px;
  border: 0;
}
/* 
---------------------
corona-virs part style start
--------------------
*/
.corona-virus {
  background-image: url(./images/right-side.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.corona-heading {
  color: #035755;
}

.corona-paragraph {
  color: #4b4f51;
  font-size: 14px;
  line-height: 30px;
  text-align: justify;
}
.learn-more {
  background: rgba(250, 86, 82, 0.5);
  border-radius: 65px;
  width: 170px;
  height: 50px;
  color: red;
  border: 0;
}
/* 
---------------------
corona style end
--------------------
*/
.contagion {
  background-image: url(./images/side-corona.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}
.contigation-text {
  /* width: 600px; */
  font-size: 12px;
  line-height: 30px;
}
.sympotons-portion {
  margin-bottom: 160px;
}
.card {
  height: 400px !important;
  background: #ffffff;
  box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  border: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
 
}
.card img {
  transform: scale(1);
  transition: all 1.2s ease-in-out;
}
.card:hover img {
  transform: scale(1.2);
}
.card-body {
  background-color: rgba(255, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -100%;
  left: 0;
  transition: all 1.2s ease-in-out;
  color: white;
  text-align: center;
}
.card:hover .card-body {
  left: 0;
  bottom: 0;
}

.card-border-bottom {
  border-bottom: 3px solid #fa5652;
}
.card-text {
  font-size: 13px;
  line-height: 30px;
}
.one,
.two,
.three {
  width: 50px;
  height: 50px;
}
.four {
  width: 100px;
  height: 100px;
}
.card-map {
  box-shadow: 10px 10px 30px lightgray;
}

/* 
---------------------------
scoial icon style part start
---------------------------
  */
.fab {
  line-height: 39px !important;
  text-align: center;
  margin: 0 15px;
}

.icon {
  margin-left: 82px;
}
.fa-facebook-f,
.fa-instagram,
.fa-twitter,
.fa-linkedin,
.fa-youtube {
  color: #969bab;
  font-size: 15px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(150, 155, 171, 0.5);
}
/* 
---------------------------
scoial icon style part end
---------------------------
  */
  